extends ../layout

block content
    include blocks/menu
    .Container.SnMt32.SnMb32
        .ADoc
            .ADoc-header
                h1.ADoc-title INSTITUTO DE EDUCACION SUPERIOR TECNOLOGICO
                    span SEDNA
                .ADoc-desc runbo a la acreditacion
                if results.success
                    .ADoc-contentTitle= results.data.name
            if results.success
                .ADoc-content
                table
                    thead
                        tr
                            th Nro
                            th Dni
                            th Apellidos y Nombres
                            th Nota
                    tbody
                        each item, index in results.data.content
                            tr
                                td= index + 1
                                td= item.dni
                                td= item.full_name
                                td= item.exam_note
            else
                p= results.message
